/*
* @Author: fuwei
* @Date:   2017-09-08 16:31:01
* @Last Modified by:   fuwei
* @Last Modified time: 2017-09-12 11:20:42
*/

.catalogContainer {
    position: fixed;
    bottom: 5%;
    border: 1px solid #eee;
    width: 220px;
    right: 2%;
    font-size: 14px;
    background: #eee;
    opacity: 0.7;
    height: auto;
    /*overflow-y:scroll;*/
    overflow-x: hidden;
}
.catalogContainer:hover{
    box-shadow: 1px;
    background: #bfbfbf;
    cursor: move !important;
}
.catalogContainer a:hover{
    cursor: pointer !important;
    color: blue;
}
.mock {
    box-shadow: 1px;
    background: #bfbfbf;
    cursor: move;
}

.catalogContainer ul {
    list-style-type: none;
    // width: 220px;
    overflow: hidden;
    padding-left: 10px;
}

.item {
    /* width: 200px; */
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    white-space: nowrap;
}

.item a {
    text-decoration: none;
}


.cot-close {
 
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.cot-close a{
    text-decoration: none;
    padding-right: 10px;
}